appnope==0.1.0
astroid==2.3.3
attrs==19.3.0
audioread==2.1.8
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
ccpy==0.0.5
certifi==2019.11.28
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
descartes==1.1.0
docopt==0.6.2
entrypoints==0.3
feedparser==5.2.1
Fiona==1.8.13.post1
Flask==1.1.1
geopandas==0.7.0
grip==4.5.2
idna==2.8
importlib-metadata==1.3.0
ipykernel==5.1.3
ipython==7.10.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
librosa==0.6.3
llvmlite==0.30.0
Markdown==3.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
munch==2.5.0
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
notebook==6.0.2
numba==0.46.0
numpy==1.17.4
opencv-contrib-python==3.4.2.16
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
path-and-address==2.0.1
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py-currency-converter==1.2.0
pybind11==2.4.3
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.5
pyproj==2.5.0
pyrsistent==0.15.6
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
qtconsole==4.6.0
QtPy==1.9.0
requests==2.22.0
resampy==0.2.2
scikit-learn==0.22
scipy==1.3.1
Send2Trash==1.5.0
Shapely==1.7.0
six==1.13.0
soupsieve==2.0
terminado==0.8.3
testpath==0.4.4
tinydb==3.15.2
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.8
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
zipp==0.6.0
